doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Alizée Cervello - Avocate au Barreau de Paris

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.2/js/all.js', crossorigin='anonymous')
        link(href="https://use.fontawesome.com/releases/v5.4.1/css/all.css")

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')
        link(href="https://fonts.gstatic.com", rel="preconnect")
        link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap", rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous")

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
            .container
                a.navbar-brand.js-scroll-trigger(href='#page-top') Alizée Cervello
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#about') Présentation
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#areas') Domaines d'intervention
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#fees') Honoraires
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#contact') Contact

        // Masthead
        header.masthead
            .container.d-flex.h-100.align-items-center
                .mx-auto.text-center
                    h1.mx-auto.my-0.text-uppercase Alizée Cervello
                    h2.text-white-50.mx-auto.mt-2.mb-5 Avocate au Barreau de Paris

        // About
        section#about.about-section.bg-light
            .container
                .row
                    .col-md-10.col-lg-8.mx-auto.text-center
                        h1.mb-5 Présentation
                        div(class="divider")
                            hr.divider-primary
                // Cabinet
                .row.align-items-center.no-gutters.mb-4.mb-lg-5
                    .col-xl-4.col-lg-7
                        img.img-fluid.mb-3.mb-lg-0(src='assets/img/cabinet.jpg', alt='')
                    .col-xl-8.col-lg-5
                        .cabinet
                            h2 Le Cabinet
                            p Le Cabinet, fondé par Alizée CERVELLO, a pour domaine d’activité essentiel le contentieux. 
                            p Pluridisciplinaire, le Cabinet a à cœur de pouvoir accompagner ses Clients dans les différents aspects de leur vie.
                            p Le Cabinet se distingue en dommage corporel, en droit pénal et contentieux disciplinaire des professionnels de santé par une connaissance approfondie et une pratique régulière de ces matières. 

                // Alizee
                .row.align-items-center.no-gutters.mb-4.mb-lg-5
                    .col-xl-8.col-lg-8
                        .alizee
                            h2 Alizée Cervello - Avocate au Barreau de Paris
                            p
                                | Après des études de droit privé et droit pénal, Alizée CERVELLO a prêté serment en octobre 2015.
                                | Son expérience en tant que collaboratrice au sein de différents Cabinets lui a permis d’acquérir une expertise solide et exigeante.
                                | Ses stages au sein de Paris Aide aux Victimes et de plusieurs juridictions lui ont de plus donné une perspective lui permettant d’appréhender les attentes des différents acteurs du monde judiciaire et parajudiciaire. 
                                | Le parcours d’Alizée CERVELLO lui a permis d’acquérir des compétences spécifiques en réparation du dommage corporel, droit pénal, droit du travail et droit de la famille :
                            ul 
                                li Diplôme d’Université de Réparation du dommage corporel, Panthéon-Sorbonne 
                                li Diplôme d’Université de Sciences criminelles, Montpellier I
                                li Collaboratrice au sein du Cabinet Avi Bitton (Droit pénal, Réparation du dommage corporel et Droit social)
                                li Collaboratrice au sein du Cabinet DGC Avocats (Droit de la santé, Réparation du dommage corporel, Droit disciplinaire des professionnels de santé)
                            p
                                | Elle assiste ses clients en français et en anglais.
                                | L’humanité, l’efficacité et la déontologie sont des valeurs qui lui sont chères.
                    .col-xl-4.col-lg-3
                        div(class="profile-picture")
                            img.img-fluid.mb-3.mb-lg-0(src='assets/img/alizee.jpg', alt='')

        // Domaines d'intervention
        section#areas.areas-section.bg-green
            .container
                .row
                    .col-md-12.col-lg-12.mx-auto.text-center
                        h1.text-white.mb-5 Domaines d'intervention
                        hr.divider-white
                .row
                    .col-md-12.col-lg-12.mx-auto
                        p 
                            |Le Cabinet se forme régulièrement dans les matières pratiquées afin de rester à la pointe du droit. 
                            |Le Cabinet intervient sur l’ensemble du territoire français.
                        h4 REPARATION DU DOMMAGE CORPOREL
                        
                        p
                            |La réparation du dommage corporel est une matière en constante évolution dans laquelle il est nécessaire de faire appel à des professionnels ayant une formation spécifique. 
                            |Le Cabinet assiste les victimes:
                            |d’accident de la circulation
                            |d’accident et catastrophe collectifs
                            |de faute médicale et d’accident médical 
                            |d’infractions portant atteinte à l'intégrité physique et/ou morale et notamment de :
                        ul
                            li violence volontaire et involontaire, 
                            li agression sexuelle, 
                            li viol
                            li harcèlement moral
                            li harcèlement sexuel
                            li d’accident du travail
                            li d’accident de la vie
                            li d’attentat
                            li de produit défectueux
                        p
                            |Elle assiste également les proches des victimes directes afin qu’elles soient elles-mêmes reconnues victimes par ricochet.
                            |Si vous-même ou l’un de vos proches êtes victime d’un dommage corporel, Alizée CERVELLO, forte de son expérience et de son réseau de médecin-conseil, peut vous assister afin faire reconnaître vos préjudices et d’en obtenir une réparation. 
                            |Elle saura vous écouter et vous exposer les recours contentieux et / ou amiable possibles adaptés à votre cas. 

                .row.justify-content-center.align-items-center
                    .col
                        div(class="accordion" id="accordionExample")
                            div(class="accordion-item")
                                h2(class="accordion-header" id="headingOne")
                                    button(class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne") Préparation du dossier
                                div(id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample")
                                    div(class="accordion-body")
                                        p 
                                            | Pour toute procédure d’indemnisation, il est primordial de constituer un dossier complet afin de faire reconnaître puis indemniser à leur juste valeur les préjudices subis.Il est à ce titre nécessaire d’obtenir copie l’intégralité des pièces médicales auprès des différents intervenants mais également des pièces non-directement médicales tenant à la situation personnelle de la victime.Le Cabinet fournit son assistance pour ce faire tout au long de la procédure. De plus, conscient qu’il ne peut y avoir de juste réparation sans écoute, Alizée CERVELLO a à cœur de recueillir les doléances de ses Clients afin de porter leurs vécus et revendications.
                            div(class="accordion-item")
                                h2(class="accordion-header" id="headingTwo")
                                    button(class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo") Assistance à expertise
                                div(id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample")
                                    div(class="accordion-body")
                                        p
                                            |L’expertise médicale constitue le préalable nécessaire à une juste indemnisation. 
                                            |Elle peut intervenir dans un cadre amiable en accord avec la partie adverse ou dans un cadre judiciaire. 
                                            |Elle a notamment pour objet d’identifier les préjudices subis par la victime en raison des faits litigieux, de les répertorier selon une nomenclature et dans une certaine mesure d’évaluer.
                                            |En matière de responsabilité médicale, l’expertise aura également pour objet d’évaluer la qualité de la prise en charge et notamment déterminer l’existence d’une faute, d’un accident médical et/ou d’une infection nosocomiale. 
                                            |L’Expert est désigné par un juge ou par une compagnie d’assurance (procédure amiable) pour effectuer cette expertise. Cet Expert est un médecin spécialisé dans la réparation du préjudice corporel.
                                            |Le Cabinet prépare à l’expertise et explique son déroulement selon le cadre procédural choisi comme étant le plus adapté. 
                            div(class="accordion-item")
                                h2(class="accordion-header" id="headingThree")
                                    button(class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree") Actions en indemnisation
                                div(id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample")
                                    div(class="accordion-body")
                                        p
                                            |Le Cabinet assiste les victimes et leurs proches devant les différentes Commissions (Commission d’Indemnisation des Victimes d’Infractions, Commission Régionale de Conciliation et d'Indemnisation) et juridictions pénales, civiles et administratives pour obtenir réparation du dommage corporel. 
                                            |Le Cabinet assiste également les victimes et leurs proches à cette fin dans d’éventuelles négociations amiables. 
                                            |Pour ce faire le Cabinet dispose d’une importante expertise, théorique comme pratique, concernant les préjudices indemnisables et leur indemnisation. 
                            div(class="accordion-item")
                                h2(class="accordion-header" id="headingFour")
                                    button(class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour") Recours à des professionnels spécialisés
                                div(id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample")
                                    div(class="accordion-body")
                                        p
                                            |Outre l’assistance d’un avocat, celle d’un médecin-conseil aussi appelé médecin de recours, spécialisé en réparation du dommage corporel, est recommandée afin que celui-ci fournisse ses connaissances médicales. 
                                            |L’intervention d’un médecin-conseil est discutée avec le Client dès le premier rendez-vous. 
                                            |Les honoraires de médecins-conseil sont avancés par la victime. Ils peuvent être pris en charge par une assurance protection juridique et il en est demandé le remboursement dans le cadre de la procédure ou de la négociation amiable. 
                                            |Le Cabinet  dispose d’un réseau de médecins-conseils afin de bénéficier d’une expertise médicale spécialisée nécessaire à la juste évaluation des dommages corporels. 
                .row
                    .col-md-12.col-lg-12.mx-auto
                        h4 DROIT PENAL
                        p
                            |Le Cabinet a développé une importante expertise en procédure pénale, que ce soit en défense ou aux côtés des victimes et propose son assistance tout au long de la procédure : 
                        ul
                            li Rédaction et dépôt de plainte simple, 
                            li Rédaction et dépôt de plainte avec constitution de partie civile,
                            li Citation directe,
                            li Préparation et assistance à audition libre, garde à vue, confrontation,
                            li Mesures alternatives aux poursuites,
                            li Comparution sur Reconnaissance Préalable de Culpabilité (CRPC),
                            li Assistance durant les procédures d’instruction, 
                            li Assistance devant l’ensemble des juridictions pénales : Tribunal de police, Tribunal Correctionnel, Cour d’assises, Cour d’assises spéciale. 
                        
                        h4 CONTENTIEUX DISCIPLINAIRE DES PROFESSIONNELS DE SANTE
                        p
                            |Le Cabinet a développé une importante expertise en contentieux disciplinaire des professionnels de santé et notamment devant les Chambres disciplinaires de l’Ordre des médecins. 
                            |Les professions médicales et certaines professions paramédicales comme les infirmiers et les masseurs-kinésithérapeutes sont organisées en ordres professionnels. 
                            |Ces praticiens doivent respecter des obligations déontologiques. 
                            |En cas de manquement à ces obligations ils peuvent faire l’objet de poursuites et de sanctions disciplinaires allant de l’avertissement à la radiation. 
                            |Le Cabinet propose son assistance tout au long de la procédure : 
                            |Rédaction de plainte disciplinaire,
                            |Assistance à réunion de conciliation,
                            |Assistance devant la Chambre disciplinaire. 
                        h4 DROIT DU TRAVAIL
                        p
                            |Le Cabinet défend ses clients, particuliers, dans le cadre des contentieux portés devant les juridictions sociales et les assiste pour tous types de négociations afférentes à l’exécution ou la rupture du contrat de travail. 
                        h4 DROIT DE LA FAMILLE
                        p
                            |Le Cabinet intervient en droit de la famille notamment dans les domaines suivants : 
                            |Divorce amiable (divorce par consentement mutuel ou requête conjointe),
                            |Divorce contentieux,
                            |Modalité d’exercice de l’autorité parentale, 
                            |Garde d’enfant, droit de visite et d’hébergement,
                            |Contribution à l’entretien et à l’éducation des enfants (pension alimentaire),
                            |Prestation compensatoire. 


        // Fees
        section#fees.fees-section
            .container
                .row
                    .col-md-10.col-lg-8.mx-auto.text-center
                        h1.text-white.mb-5 Honoraires
                        hr.divider-white
                        p Les honoraires sont librement fixés par l’avocat en accord avec son client en tenant notamment compte de la complexité et de la durée probable de l’affaire.

                .row
                    .col-sm-12.col-lg-4
                        div(class="card text-center")
                            div(class="fee-icon")
                                i(class="far fa-clock fa-4x")
                            div(class="card-body")
                            h5 Au temps passé
                            p Intervention à l’heure selon un taux horaire compris entre 150 et 200 euros HT
                    .col-sm-12.col-lg-4
                        div(class="card text-center")
                            div(class="fee-icon")
                                i(class="fas fa-file-invoice-dollar fa-4x")
                            div(class="card-body")
                            h5 Au forfait
                            p Honoraires forfaitaires, avec possibilité de règlement en plusieurs fois
                    .col-sm-12.col-lg-4
                        div(class="card text-center")
                            div(class="fee-icon")
                                i(class="fas fa-balance-scale fa-4x")
                            div(class="card-body")
                            h5 De résultat
                            p Honoraires forfaitaires ou au temps passé, minorés et complétés d’un honoraire de résultat privilégiés en matière de dommage corporel
                    
                .row
                    .col
                        p Les honoraires font systématiquement, sauf urgence, l’objet d’une convention conformément à la loi n°2015-990 du 6 août 2015.  
                        p Ils peuvent éventuellement faire l’objet d’une prise en charge totale ou partielle par une assurance protection juridique.
                        p La facturation est transparente avec envoi, à la demande du client, de relevés de diligences détaillés.
                        p La première prise de rendez-vous est facturée comme une consultation si celle-ci ne donne pas lieu à désignation et ouverture d’un dossier.
                        p Par ailleurs, sans pouvoir malheureusement accepter toutes les missions d'aide juridictionnelle, le Cabinet est susceptible également d'intervenir à ce titre.

        // Contact
        section#contact.contact-section.bg-black
            .container
                .row
                    .col-md-10.col-lg-8.mx-auto.text-center
                        h1.text-white.mb-5 Contact
                        hr.divider-white
                .row
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i(class="fas fa-map-marker fa-2x")
                                h5.text-uppercase Adresse
                                hr 
                                div(class="contact-info")
                                    a(href="https://goo.gl/maps/jQ1MgG9oNh61DNrTA" target="#") 2, Rue de Penthièvre - 75008 PARIS
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i(class="far fa-envelope fa-2x")
                                h5.text-uppercase Email
                                hr
                                div(class="contact-info")
                                    a(href='mailto:alizeecervello.avocat@gmail.com') alizeecervello.avocat@gmail.com
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i(class="fas fa-phone fa-2x")
                                h5.text-uppercase Téléphone
                                hr 
                                div(class="contact-info") 
                                    a(href='tel:06.99.39.29.37') 06.99.39.29.37

        // Footer
        footer.footer.bg-black.small.text-center.text-white-50
            .container
                div(id="copyright")

        // Copyright JS
        script 
            include ../js/copyright.js            

        // Core theme JS
        script(src='js/scripts.js')
