// Global styling for this template

body {
    letter-spacing: $base-letter-spacing;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-weight: 900;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}